/* 
    Document   : style
    Created on : 12-nov-2013, 13:22:55
    Author     : Pim
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
    margin: 0;
    padding: 0;
}

#page-container {
    width: 760px;
    margin: auto;
}

#main-nav {
    height: 90px;
    overflow: hidden;
}

#main-nav ul {
    margin: 0;
    padding: 0;
}

#main-nav li {
    float: left;
}

#main-nav li a {
    display: block;
    height: 90px;
    padding: 90px 0 0 0;
    overflow: hidden;
    background-repeat: no-repeat;
}

#main-nav li a:hover {
    background-position: 0 -90px;
}

#main-nav li#about,
#main-nav li#about a { 
    width: 100px; 
    background-image: url(../images/nav/about.png);
}

body.about li#about,
body.about li#about a,
body.services dt#services,
body.services dt#services a,
body.portfolio dt#portfolio,
body.portfolio dt#portfolio a,
body.contact dt#contact,
body.contact dt#contact a {
	background-position: 0 -180px;
       
}

body.about #header {
  
    
}

#header {
    height: 150px;
}

#sidebar-a {
    float: right;
    width: 280px;
    line-height: 18px;
}

#sidebar-a .padding {
    padding: 25px;
}

#content {
    margin-right: 280px;
    line-height: 18px;
}

#content .padding {
    padding: 25px;
}

#content h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

#content p {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

#footer {
    clear: both;
    height: 66px;
    font-family: Tahoma, Arial, Helvetica, Sans-serif;
    font-size: 10px;
    color: #c9c9c9;
    border-top: 1px solid #efefef;
    padding: 13px 25px;
    line-height: 18px;
}

#footer #altnav {
    width: 350px;
    float: right;
    text-align: right;
}

#footer a {
    color: #c9c9c9;
    text-decoration: none;
}

#footer a:hover {
    color: #0000ff;
}

body {
    font-family: Arial, Helvetica, Verdana, Sans-serif;
    font-size: 12px;
    color: #666666;
    background: #ffffff;
}

h1 {
    margin: 0;
    padding: 0;
    float: right;

}

.hidden {
    display: none;
}

h1 {
    margin: 0;
    paddding: 0;
}